---
title: Patrick Jackman - Work
---

<div class="row">
  <div class="col-sm-6">
    <a href="javascript:void(0);" class="thumbnail text-center root-link" data-toggle="modal" data-target="#togetherModal">
      <img src="<%= image_path('clinic/clinic_preview.jpg')%>" alt="clinicPreview">
      <div class="thumbnail-caption">
          <h2>Together Clinic</h2>
      </div>
      <div class="noise-overlay"></div>
    </a>
  </div>
  <div class="col-sm-6">
    <a href="javascript:void(0);" class="thumbnail text-center root-link" data-toggle="modal" data-target="#artModal">
      <img src="<%= image_path('art/art_preview.jpg')%>" alt="artPreview">
      <div class="thumbnail-caption">
          <h2>General Art</h2>
      </div>
      <div class="noise-overlay"></div>
    </a>
  </div>
  <div class="col-sm-6">
    <a href="javascript:void(0);" class="thumbnail text-center root-link" data-toggle="modal" data-target="#hdrModal">
      <img src="<%= image_path('hdr/hdr_preview.jpg')%>" alt="hdrPreview">
      <div class="thumbnail-caption">
          <h2>HDR</h2>
      </div>
      <div class="noise-overlay"></div>
    </a>
  </div>
  <div class="col-sm-6">
    <a href="javascript:void(0);" class="thumbnail text-center root-link" data-toggle="modal" data-target="#hudlModal">
      <img src="<%= image_path('hudl/hudl_preview.jpg')%>" alt="hudlPreview">
      <div class="thumbnail-caption">
          <h2>Hudl</h2>
      </div>
      <div class="noise-overlay"></div>
    </a>
  </div>
  <div class="col-sm-6">
    <a href="javascript:void(0);" class="thumbnail text-center root-link" data-toggle="modal" data-target="#garminModal">
      <img src="<%= image_path('garmin/garmin_preview.jpg')%>" alt="garminPreview">
      <div class="thumbnail-caption">
          <h2>Garmin</h2>
      </div>
      <div class="noise-overlay"></div>
    </a>
  </div>
  <div class="col-sm-6">
    <a href="javascript:void(0);" class="thumbnail text-center root-link" data-toggle="modal" data-target="#personalModal">
      <img src="<%= image_path('personal/personal_preview.jpg')%>" alt="personalPreview">
      <div class="thumbnail-caption">
          <h2>Personal</h2>
      </div>
      <div class="noise-overlay"></div>
    </a>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="artModal" tabindex="-1" role="dialog" aria-labelledby="artModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="artModalLabel">General Art</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <p>Drawings and paintings completed at the University of Nebraska - Lincoln (2014) or thereafter.</p>
      </div>
    </div>
  </div>
</div>